h1{
    display: inline;
    font-family: 'Quicksand', sans-serif;
    transition: opacity 2s;
}



p{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    display: inline;
    text-align: center;
}

#about{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
}

#titlerow{
    margin-top: 1em;
}


#catergories{
    margin-top:15em;
}

a{
    color:#373D3F;
    text-decoration: none;
}

a:link {
    color:#373D3F;
    text-decoration: none
}

a:visited {
    color:#373D3F;
    text-decoration: none
}

a:hover {
    color:#373D3F;
    text-decoration: none
}

a:active {
    color:#373D3F;
    text-decoration: none
}

#home{
    transition: opacity 2s;
}

#caterphoto{
    display: none;
    opacity: 0;
    transition: opacity 2s;
}

#catervid{
    opacity: 0;
    display: none;
    transition: opacity 2s;
}

#catergraphic{
    display: none;
    opacity: 0;
    transition: opacity 2s;
}

#catercode{
    display: none;
    opacity: 0;
    transition: opacity 2s;
}

#page{
    transition: 2s;
}

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}